# Ignore macOS system files
.DS_Store

# Ignore Node.js files
node_modules/
.tmp/
npm-debug.log

# Ignore Python virtual environments
venv/
.venv/

# Ignore PyCharm project files
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and cache
*.log